:root {
  --width: 720px;
  --min-height: 100vh;
  --font-main: "Times New Roman", Times, serif;
  --font-secondary: "Times New Roman", Times, serif;
  --font-scale: 1em;
}

html.dark {
  --background-color: #000;
  --border-color: #ffffff;
  --heading-color: #fff;
  --text-color: #fff;
  --link-color: #00ffff;
  --visited-color: #ff00ff;
  --code-background-color: #000;
  --code-color: #ff00ff;
  --blockquote-color: #fff;
  --code-border-color: #00ffff;
}

html.light {
  --background-color: #f4e4b9;
  --border-color: #000000;
  --heading-color: #000000;
  --text-color: #000000;
  --link-color: #0000ff;
  --visited-color: #800080;
  --code-background-color: #f0f0f0;
  --code-color: #000000;
  --blockquote-color: #000000;
  --code-border-color: #0000ff;
}

body {
  font-family: var(--font-secondary);
  font-size: var(--font-scale);
  margin: auto;
  padding: 20px;
  max-width: var(--width);
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: var(--text-color);
  min-height: var(--min-height);
  background: var(--background-color);
  transition: color 0.5s ease;
}

footer {
  padding: 25px 0;
  text-align: center;
}

h1 {
  font-size: 1.75em;
  font-family: var(--font-main);
}
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-main);
  color: var(--heading-color);
  margin-bottom: 0.5em;
}

a {
  font-size: 1em;
  color: var(--link-color);
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

code {
  color: var(--code-color);
}
