---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<p>Hi! I'm Sasha Zelenski, and this is my website. I made it because I wanted to have a place to talk about my projects and about other things I think are neat. </p>
  	
	<figure style="text-align:center; margin: 2rem 0;">
		<img src="/images/sasha.jpg" alt="Sasha, smiling at camera outside" style="border: 3px solid var(--border-color); max-width: 200px; width: 100%; height: auto;" />
		<figcaption>Sasha at the Skagit Valley Tulip Festival</figcaption>
	</figure>
  
</Layout>
