---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects">
  <h1>Projects</h1>
  <h2> Software Projects </h2>
  <ul>
    <li> 
      <a href="/projects/amtrak_map">Interactive Subway-Style Amtrak Map</a>
     </li>
  </ul>
  <h2> Other Projects </h2>
  <ul>
    <li> 
      <a href="/projects/full_length_mirror">Refinishing a vintage full-length mirror</a>
     </li>
  </ul>
</Layout>