---
import { COPYRIGHT, SOCIAL_LINKS } from "../consts";
---

<footer>
    <small>
      {COPYRIGHT && `${COPYRIGHT}`} <br>
      {SOCIAL_LINKS.map((item, i) => (
        <>
          <a href={item.link}>{item.text}</a>
          {i < SOCIAL_LINKS.length - 1 && ' | '}
        </>
      ))}
    </small>
  </footer>
  
