---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Subway-Style Amtrak Map">
  <h1>Subway-Style Amtrak Map</h1>

  This is an interactive map displaying every Amtrak train route. When routes overlap, they're shown
  side-by-side, like on a subway map. You can hover over a route to see its name.

  <iframe
    src="/content/amtrak_map/interactive_amtrak_map.html"
    style="width:100%; height:400px; margin-top:20px; margin-bottom:20px;"
  ></iframe>


  <p>
  I have a semi-serious goal of riding every mile of Amtrak track in the United
  States. As part of this, I need to know what routes cover what tracks, so that
  I know how far a given route will take me.
</p>

  <p>
  Amtrak has a <a
    href="https://www.amtrak.com/content/dam/projects/dotcom/english/public/documents/Maps/Amtrak-System-Map-020923.pdf"
    target="_blank"
    rel="noopener">map showing the entire Amtrak system,</a
  > but it only shows the tracks. It also has
  maps for each individual route, but these maps only show one route at a time.
  I haven't been able to find a map that shows all Amtrak routes, so I thought
  I'd make one.
  </p>

  <p>
  I wanted something that looks like a subway map such that when two or more routes
  overlap, they’re are shown side-by-side. I was able to get <a
    href="https://www.arcgis.com/home/item.html?id=8f534a0c7468483f9837ef93e2e5ebb1"
    ;
    target="_blank"
    ;
    rel="noopener"
  >
    GIS data for the routes</a
  >
  from the National Transportation Atlas Database (NTAD). I used the <code>shapely</code> library
  to do the offsetting of routes. Offsetting resulted in lots of little lines that I had to filter out to remove the visual clutter.
  The result isn’t perfect, and if you zoom in, you can sometimes still see breaks
  in the route, especially in areas where many offsets were done, like between NYC
  and DC. But for my purposes, it works. I'll likely improve it in the future by interpolating between the disconnected line segments resulting from the offsetting.
  </p>
</Layout>
