---
import Layout from "../../layouts/Layout.astro";
---

<style>
  .image-row {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap; /* lets them stack on small screens */
  }
  .image-row figure {
    max-width: 270px;
    text-align: center;
    margin: 0;
  }
  .image-row img {
    width: 100%;
  }
</style>

<Layout title="Refinishing a vintage full-length mirror">
  <h1> Refinishing a vintage full-length mirror </h1>

  <div class="prose">
    <p>
      Filler text
    </p>
  </div>

<div class="image-row">
  <figure>
    <img src="/images/full_length_mirror/mirror_front_unwashed.JPG" alt="">
    <figcaption>Front of the mirror when I brought it home.</figcaption>
  </figure>
  <figure>
    <img src="/images/full_length_mirror/mirror_back_unwashed.JPG" alt="">
    <figcaption>Back of the mirror when I brought it home.</figcaption>
  </figure>
</div>

<div class="image-row">
  <figure>
    <img src="/images/full_length_mirror/mirror_back_mid_washing.JPG" alt="">
    <figcaption>Back of the mirror in the middle of washing.</figcaption>
  </figure>
</div>

<div class="image-row">
  <figure>
    <img src="/images/full_length_mirror/mirror_front_paint_removal.JPG" alt="">
    <figcaption>Mirror front during paint removal.</figcaption>
  </figure>
  <figure>
    <img src="/images/full_length_mirror/mirror_back_paint_removal.JPG" alt="">
    <figcaption>Mirror back during paint removal.</figcaption>
  </figure>
  <figure>
    <img src="/images/full_length_mirror/mirror_mid_paint_removal.JPG" alt="">
    <figcaption>Mirror during paint removal, with glass removed.</figcaption>
  </figure>
</div>

<div class="image-row">
  <figure>
    <img src="/images/full_length_mirror/mirror_front_sanded.JPG" alt="">
    <figcaption>Mirror front after sanding.</figcaption>
  </figure>
</div>

<div class="image-row">
  <figure>
    <img src="/images/full_length_mirror/mirror_back_streaky.JPG" alt="">
    <figcaption>Mirror back midway through first staining process.</figcaption>
  </figure>
</div>

<div class="image-row">
  <figure>
    <img src="/images/full_length_mirror/mirror_front_finished.JPG" alt="">
    <figcaption>Mirror front, finished!</figcaption>
  </figure>
  <figure>
    <img src="/images/full_length_mirror/mirror_back_finished.JPG" alt="">
    <figcaption>Mirror back, finished!</figcaption>
  </figure>
</div>


</Layout>